/*
-------------------
Grid / Flexbox
-------------------
*/

.flex {
    display: flex;
}

.flex.v-center {
    align-items: center;
}

.flex.h-center {
    justify-content: center;
}

.flex.h-left {
    justify-content: left;
}

/*
-------------------
Base Styles
-------------------
*/

body {
    color: #fff;
    background: rgb(0, 0, 255);
    font-family: 'Source Code Pro', monospace;
}

/*
-------------------
Typography
-------------------
*/

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

/*
-------------------
Header Row
-------------------
*/

.main-title {
    margin: 10% 0 40px;
}

.score-counter {
    height: 150px;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

/*
-------------------
Buttons Row
-------------------
*/

.btn-main {
    margin: 0 20px;
    font-size: 2em;
    background: rgb(0, 0, 255);
    border: 2px solid #fff;
}


.btn-main:active,
.btn-main:focus {
    outline: none;
    
}

.button-wrapper {
    height: 100px;
    margin: 0;
    padding: 0;
}

/*
-------------------
Status Row
-------------------
*/

.choice-message {
    margin: 30px 0;
}

.status-message {
    margin: 40px 0;
}

.primary-status{
    border: 2px solid #fff;
    padding: 10px;
}

.computer-taunt {
    font-family: 'VT323', monospace;
    font-size: 2em;
    margin: 20px 0;
}

.messages-wrapper {
    height: 500px;
    margin: 0;
    padding: 0;
}